<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FOOTER</title>
</head>
<body>
<div th:fragment="footer">
    <footer id="footer">
        <div id="wrapper">
            <div id="email">
                <br>
                <a href="mailto:jens8592@stud.kea.dk">Mail us</a>
                <br>
                    <a>Contact us on social media</a>
                    <br>
                    <a href="https://www.linkedin.com/">
                    <img border="0" alt="Linkedin" src="img/linkedin.png" width="15px" height="15px"> </a>
                    <a href="https://www.facebook.com/">
                    <img border="0" alt="Facbook" src="img/facebook-logo-button.png" width="15px" height="15px"> </a>
                   <a href="https://www.twitter.com/">
                    <img border="0" alt="Twitter" src="img/twitter-logo-button.png" width="15px" height="15px"> </a>
                <a class="footer-link" href="https://twitter.com/"></a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>