<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HEADER</title>
</head>
<body>
<div th:fragment="header">
    <div class="header">
        <a href="/">
            <img style="width: 50px; " src="/img/logo.png" alt="logo missing">
        </a>
        <div class="header-right">
            <a href="/myProjects">Home</a>
            <span></span>
            <a href="/about">About us</a>
            <span></span>
            <a href="/logout">Logout</a>
            <span></span>
            <a href="/myPage">My Page</a>
        </div>
    </div>
</div>
</body>
</html>